@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Larsseit";
  font-weight: lighter;
  cursor: crosshair;
}

/* NAVIGATION BAR */

.nav {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nav.scrolled {
  background-color: #fff !important;
  transition: background-color 300ms linear;
}

.menu-open {
  position: absolute;
  line-height: 60px;
  left: 1.4em;
}

.brand span a {
  position: absolute;
  line-height: 60px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 4px;
}

.brand a:hover {
  text-decoration: none;
}




.cart {
  position: absolute;
  line-height: 60px;
  right: 1.4em;
  font-weight: bolder;
}

.cart ion-icon {
  /* vertical-align: bottom; */
  font-size: 20px;
  /* padding-right: 5spx; */
}

/* MENU */

.menu {
  position: fixed;
  z-index: 2;
  width: 30%;
  left: -30%;
  height: 100vh;
  background: #fff;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

@media (max-width: 900px) {
  .menu {
    width: 100%;
    left: -100%;
  }
}

.menu-close {
  position: relative;
  line-height: 60px;
  float: right;
  margin-right: 20px;
}

.menu ul {
  list-style: none;
  position: relative;
  top: 40%;
  left: 10%;
  transform: translate(0%, -50%);
}

.menu ul li {
  padding-bottom: 20px !important;
}

.menu ul li a {
  font-size: 12px;
}

.menu ul li a:hover {
  text-decoration: none;
}

.media-menu {
  position: relative;
  top: 50%;
}

.media-menu ul li {
  display: inline-block;
  padding-right: 10px;
}

/* HERO SECTION */

.hero-section {
  height: 100vh;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.hero-left {
  height: 100vh;
  background: #f7f6f2;
  z-index: -1;
}

.tagline {
  position: absolute;
  margin-top: 130px;
  margin-left: 40px;
  font-family: "Playfair Display";
  font-size: 24px;
  font-weight: 300;
}

a {
  color: grey !important;
  font-family: "Larsseit";
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.shipping {
  position: absolute;
  bottom: 30px;
  margin-left: 40px;
  font-size: 14px;
  font-weight: 300;
}

.hero-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  width: 100%;
}

/* Defining general properties for media icons used across the template */

.media {
  position: absolute;
  bottom: 20px;
  right: 0;
  margin-right: 20px;
}

.media ul {
  list-style: none;
}

.media ul li {
  display: inline-block;
  margin-right: 20px;
}

@media (max-width: 900px) {
  .hero-image {
    display: none;
  }

  .media {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .media ul {
    margin-right: 0;
  }
}

/* SECTON BASIC */

.section {
  padding: 80px 40px;
}

.section p {
  font-family: "Playfair Display";
  font-size: 24px;
  font-weight: 300;
}

/* PRODUCT / BANNER SEC */

.prod {
  margin-top: 20px;
}

.prod:hover a {
  text-decoration: none !important;
}

#prod-desc {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 300;
}

.prod-sec {
  width: 101%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.prod-sec p {
  font-family: "Playfair Display";
  font-size: 24px;
  font-weight: 300;
}

@media (max-width: 900px) {
  .prod-sec {
    padding-left: 30px;
    width: 100%;
    border: none;
  }

  .prod-sec a {
    display: none;
  }
}

#price {
  font-family: "Larsseit";
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
}

.prod-list #prod-desc {
  font-family: "Larsseit";
  color: grey;
}

/* FOOTER */

.footer {
  padding: 30px 0;
  background: #f7f6f2;
}

.block {
  margin-top: 40px;
}

.footer .media {
  top: 20px !important;
}

footer p {
  text-align: center;
  font-family: "Larsseit" !important;
  font-size: 14px !important;
}

/* Collections Page */

.whitespaces {
  height: 100px;
}

.collection {
  padding: 40px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.collection #heading {
  font-family: "Playfair Display";
  font-size: 20px;
  margin-left: 50px;
  padding-bottom: 0;
  position: relative;
  display: inline-block;
}

#heading::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #ece1b6;
}

.collection .section {
  margin: -50px 0;
}

/* PRODUCT PAGE */

.product-sec {
  padding-top: 60px;
  height: 100vh;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@media (max-width: 900px) {
  .product-sec {
    margin-bottom: 140px;
    border-bottom: none !important;
  }
}

.prod-left {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.prod-opt {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}

#prod-name {
  font-family: "Playfair Display";
}

.prod-opt #price {
  padding: 16px 0;
}

.input-helper {
  position: relative;
  display: inline-block;
  font-family: "Larsseit";
  text-transform: uppercase;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 4px;
}

.input-helper:before {
  content: "";
  display: block;
  position: absolute;
}

.input-helper--radio {
  padding-left: 18px;
}

.input-helper--radio:before {
  top: 2px;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #222;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label:before {
  background: #222;
}

.product-sec ::placeholder,
input {
  font-family: "Larsseit";
  text-transform: uppercase;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 4px;
  padding-left: 10px;
  padding-bottom: 3px;
}

.product-sec input {
  width: 130px;
}

@media (max-width: 900px) {
  .product-sec .hero-image {
    margin-top: 50%;
    display: block !important;
    height: 100vh;
  }

  .prod-opt {
    padding-top: 300px;
  }
}

.add-prod {
  margin: 50px 0;
}

.add-prod a {
  padding: 20px 40px;
  background: #000;
  font-weight: 300;
  letter-spacing: 4px;
  color: #fff !important;
  text-decoration: none;
}

.add-prod a:hover {
  text-decoration: none;
}

/* ABOUT PAGE */

.hero {
  height: 400px;
  background: #f7f6f2;
  position: relative;
}

#hero-title {
  position: absolute;
  font-family: "Playfair Display";
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  margin: 50px 0;
  width: 65% !important;
}

@media (max-width: 900px) {
  .content {
    width: 90% !important;
  }
}

.content p {
  font-family: "Larsseit";
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
}

#blockquote {
  font-family: "Playfair Display";
  font-style: italic;
  font-size: 24px;
  padding: 30px 20px;
  margin: 20px 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* CONTACT */

form label,
textarea {
  font-family: "Larsseit";
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.form-control {
  box-shadow: none !important;
}

form input,
textarea {
  border-radius: 0% !important;
}

form input:focus,
textarea:focus {
  outline: none !important;
  border: 2px solid #000 !important;
}

/* Onboarding Form */
/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

/* body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
} */

.wave {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}

.account_container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 7rem;
  padding: 0 2rem;
}

.img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.img img {
  width: 50rem;
}

form {
  width: 36rem;
}

.avatar {
  width: 10rem;
}

form h2 {
  font-size: 2.9rem;
  text-transform: uppercase;
  margin: 1.5rem 0;
  color: #333;
}

.input-div {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}

.input-div:after,
.input-div:before {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 50%;
  height: 2px;
  background-color: #38d39f;
  transition: 0.3s;
}

.input-div::after {
  right: 50%;
}

.input-div::before {
  left: 50%;
}

.input-div .focus .i i {
  color: #38d39f;
}

.input-div .focus div h5 {
  top: -5px;
  font-size: 15px;
}

.input-div .focus::after,
.input-div .focus::before {
  width: 50%;
}

.input-div .one {
  margin-top: 0;
}

.input-div .two {
  margin-bottom: 4px;
}

.i {
  color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.i i {
  color: #d9d9d9;
  transition: 0.3s;
}

.input-div > div {
  position: relative;
  height: 45px;
}

.input-div > div h5 {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 18px;
  /* display: none; */
  transition: 0.3s;
}

.input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  color: #555;
}

.btn {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  margin: 1rem 0;
  font-size: 1.2rem;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  background-size: 200%;
  transition: 0.5s;
}

.btn:hover {
  background-position: right;
}

@media screen and (max-width: 1050px) {
  .account_container {
    gap: 5rem;
  }
}

@media screen and (max-width: 1000px) {
  form {
    width: 290px;
  }

  .login-content h2 {
    font-size: 2.4rem;
    margin: 8px 0;
  }

  .img img {
    width: 400px;
  }
}

@media screen and (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
  }

  .img {
    display: none;
  }

  .wave {
    display: none;
  }

  .login-content {
    justify-content: center;
  }
}

/* New Cart */


.cart-btn {
  position: absolute;
  cursor: pointer;
  bottom: 15px;
  /* right: 30px; */
  right: 1.4em;
}

.cart-items {
  position: absolute;
  top: -8px;
  right: -8px;
  background: var(--primaryColor);
  padding: 0 5px;
  border-radius: 30%;
  color: var(--mainWhite);
}

/* Products */
.products {
  padding: 4rem 0;
}
.section-title h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  column-gap: 1.5rem;
  row-gap: 2rem;
}
.img-container {
  position: relative;
  overflow: hidden;
}
.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: var(--primaryColor);
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  transition: var(--mainTransition);
  transform: translateX(101%);
  cursor: pointer;
}
.bag-btn:hover {
  color: var(--mainWhite);
}
.fa-shopping-cart {
  margin-right: 0.5rem;
}
.img-container:hover .bag-btn {
  transform: translateX(0);
}
.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: var(--mainTransition);
}
.img-container:hover .product-img {
  opacity: 0.5;
}

.product h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}

.product h4 {
  margin-top: 0.7rem;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  text-align: center;
}

/* Products End */

/* Cart */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgb(240, 157, 81, 0.5);
  z-index: 2;
  visibility: hidden;
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: rgb(231, 226, 221);
  padding: 1.5rem;
  transition: var(--mainTransition);
  transform: translateX(100%);
}

.showCart {
  transform: translateX(0);
}

.transparentBcg {
  visibility: visible;
}

@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}

.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
} 
/*---------- Cart Item -------------------- */
 .cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  column-gap: 1.5rem;
  margin: 1.5rem 0;
}

.cart-item img {
  width: 75px;
  height: 75px;
}

.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}

.item-amount {
  text-align: center;
}
.remove-item {
  color: grey;
  cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
  color: var(--primaryColor);
  cursor: pointer;
}
/*---------- End of Cart Item -------------------- */

 .cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
} 


/* Cart End */

/* Button */
  .banner-btn {
    /* padding: 1rem 1rem; */
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    font-size: 1rem;
    background: var(--primaryColor);
    color: var(--mainBlack);
    border: 1px solid var(--primaryColor);
    transition: var(--mainTransition);
    cursor: pointer;
  }
  .banner-btn:hover {
    background: transparent;
    color: var(--primaryColor);
  }
/* Button ends */